
@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #f8f8f8;
    --fg-color: #4f5b66;
    --mid-color: #666;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #2b303b;
    --fg-color: #c0c5ce;
    --mid-color: #666;
  }
}

html, body, #app { 
  width: 100%; 
  height: 100%; 
  margin: 0;
  font-family: "Input Mono Narrow", "Consolas", "Liberation Mono", "Menlo", "Courier", monospace;
  background-color: var(--bg-color);
  color: var(--fg-color);
}


.boxes {
  display: flex;
  width: 100%;
  height: 100%;
}

.box {
  flex: 1;
  flex-basis: 0;
  display: flex;
  flex-flow: column;

  margin: 4px;
  border: 1px solid var(--mid-color);
  color: var(--mid-color);
}

.box.active {
  border: 1px solid var(--fg-color);
  color: var(--fg-color);
}

.status-bar {
  height: 29px;
  width: 100%;
  border-top: 1px solid var(--mid-color);
}

.box.active .status-bar {
  border-top: 1px solid var(--fg-color);
}

.status-bar a {
  display: block;
  line-height: 29px;
  width: 29px;
  text-align: center;
  border-right: 1px solid var(--mid-color);
}

.box.active .status-bar a {
  border-right: 1px solid var(--fg-color);
  background-color: var(--fg-color);
  color: var(--bg-color);
}

.CodeMirror {
  flex: 1;
  background-color: var(--bg-color);
  color: var(--mid-color);
}

.box.active .CodeMirror {
  color: var(--fg-color);
}

.CodeMirror-gutters {
  background-color: var(--bg-color);
  border-right: 1px solid var(--mid-color);
}

.CodeMirror-linenumber {
  color: var(--mid-color) !important;
}

.box.active .CodeMirror-linenumber {
  color: var(--fg-color) !important;
}

.output {
  flex: 1;
  display: flex;
  flex-flow: column;
}

.value-box {
  padding: 16px;
  margin: 0;
}

.flex {
  flex: 1;
  flex-basis: 0;
  display: flex;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);

  background-color: var(--bg-color);
  border: 1px solid var(--fg-color);
  padding: 16px;
}

.popup ul {
  list-style: none;
  padding: 0;
  margin: 0;
}