
html, body, #app { 
  width: 100%; 
  height: 100%; 
  margin: 0;
  font-family: "Input Sans Narrow", "Consolas", "Liberation Mono", "Menlo", "Courier", monospace;
}

#app {
  display: flex;
}

.editor {
  flex: 1;
}

.CodeMirror {
  flex: 1
}

.CodeMirror-gutters {
  height: 100%;
}