
html, body, #app { 
  width: 100%; 
  height: 100%; 
  margin: 0;
  font-family: "Input Sans Narrow", "Consolas", "Liberation Mono", "Menlo", "Courier", monospace;
}

.CodeMirror {
  flex: 1;
}

.boxes {
  display: flex;
  width: 100%;
  height: 100%;
}

.box {
  flex: 1;
  flex-basis: 0;
  display: flex;
  flex-flow: column;

  margin: 4px;
  border: 1px solid #ddd;
  color: #ddd;
}

.box.active {
  border: 1px solid black;
  color: black;
}

.status-bar {
  height: 29px;
  width: 100%;
  border-top: 1px solid #ddd;
}

.box.active .status-bar {
  border-top: 1px solid black;
}

.status-bar a {
  display: block;
  line-height: 29px;
  width: 29px;
  text-align: center;
  border-right: 1px solid #ddd;
}

.box.active .status-bar a {
  border-right: 1px solid black;
  background-color: black;
  color: white;
}

.output {
  flex: 1;
  display: flex;
  flex-flow: column;
}

.value-box {
  padding: 16px;
  margin: 0;
}

.flex {
  flex: 1;
  flex-basis: 0;
  display: flex;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);

  background-color: white;
  border: 1px solid black;
  padding: 16px;
}